{% extends "layout.twig" %}

{% block content %}
<div>
    <div class="main-screen">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height">Agenda PSB</h2>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Agenda PSB</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}