{% extends "layout.twig" %}

{% block content %}
<div>
    <div class="main-screen">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">Hasil Seleksi</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Hasil seleksi calon santri si Santi Asromo</p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-screen">
        {% if datas|length == 0 %}
            <div class="display-flex center">
                <p class="fonts fonts-16px grey">Saat ini belum tersedia..</p>
            </div>
        {% else %}
            <div class="border-full">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th class="small-col">#</th>
                                <th>File</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in datas %}
                                <tr>
                                    <td class="small-col">{{loop.index}}</td>
                                    <td class="fonts fonts-11 black">{{data.judul}}</td>
                                    <td>
                                        <a href="{{base_url()}}/files/{{data.url_file}}" target="_blank" class="btn btn-small btn-main" style="width: 80px;">Download</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        {% endif %}
    </div>
</div>
{% endblock content %}