{% extends "layout.twig" %}

{% block content %}
<div>
    <div class="main-screen">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">Panduan Pendaftaran</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Berikut panduan alur pendaftaran</p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-screen" style="margin-bottom: 30px;">
        <div class="width width-full display-flex display-mobile wrap">
            
            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">1</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Pastikan anda sudah mempersiapkan persyaratan untuk pendaftaran. (NISN, NIK Nomor Induk Keluarga, File foto calon santri, Alamat, Nomor HP orangtua yang tersambung ke whatsapp).
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">2</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Klik tautan MULAI PENDAFTARAN di menu PENDAFTARAN PSB ONLINE SANTI ASROMO.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">3</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Isi form pendaftaran dengan lengkap, teliti dan hati-hati pada HALAMAN FORMULIR PENDAFTARAN.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">4</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Jika sudah selesai di isi, tekan tombol SUBMIT.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">5</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Secepatnya ditransferkan biaya pendaftaran. <b>(Jumlah transfer harus sesuai dengan yang tertera setelah klik SUBMIT).</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">6</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Kirim bukti transfer via WA ke salah satu nomor berikut:
                        </div>
                        <div class="fonts fonts-11 black regular">
                            - 0853-2134-3674 (Ust Ahmad Ubaidillah)
                        </div>
                        <div class="fonts fonts-11 black regular">
                            - 0898-8749-215 (Ustadzah Desi Susilawati)
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">7</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Setelah konfirmasi, tunggu pemberitahuan VIA WA atau SMS bahwa transfer telah sukses.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">8</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Silahkan Cetak KARTU TES di tautan CETAK KARTU di menu PENDAFTARAN PSB ONLINE. pilih nama calon peserta tes dan Cetak kartu tes yang muncul.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-grey no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon bg-red" style="left: unset; right: 30px;">
                            <div class="fl-icn fa fa-lw fa-bullhorn" style="color: #fff;"></div>
                        </div>
                        <div class="fonts fonts-14 black semibold" style="margin-top: 30px;">
                            Silahkan mengklik tautan dibawah ini untuk mulai pendaftaran
                        </div>
                        <div class="display-flex" style="margin-top: 10px;">
                            <a href="{{base_url()}}/pendaftaran" class="btn btn-sekunder" style="margin-left: 0; margin-right: 10px;">
                                Daftar Sekarang
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="medium-screen">
        <div style="padding-left: 15px; padding-right: 15px;">
            <div class="card box-shadow full-rounded bg-grey no-overflow">
                <div class="float-left-icon bg-red">
                    <div class="fl-icn fa fa-lw fa-info" style="color: #fff;"></div>
                </div>
                <div>
                    <div class="fonts fonts-12 black semibold" style="margin-top: 30px; margin-bottom: 10px;">
                        Pembayaran dapat dilakukan melalui transafer ke rekening Mandiri Syariah (Kode Bank: 451)
                    </div>
                    <div class="display-flex width width-50 width-mobile">
                        <div class="width width-30 fonts fonts-11 black">No.Rek</div>
                        <div class="width width-2 fonts fonts-11 black">:</div>
                        <div class="width width-68 fonts fonts-11 semibold black">6000 1932 06</div>
                    </div>
                    <div class="display-flex width width-50 width-mobile">
                        <div class="width width-30 fonts fonts-11 black">Atas Nama</div>
                        <div class="width width-2 fonts fonts-11 black">:</div>
                        <div class="width width-68 fonts fonts-11 semibold black">PONDOK MUFIDAH SANTI ASROMO</div>
                    </div>
                    <div class="fonts fonts-11 black regular" style="margin-top: 10px;">
                        Atau bisa membayar langsung ke bagian keuangan sekretariat PONDOK MUFIDAH SANTI ASROMO.
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock content %}