{% extends "layout.twig" %}

{% block content %}
<div>
    <div class="main-screen">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">Persyaratan Pendaftaran</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Berikut persyaratan pendaftaran</p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-screen" style="margin-bottom: 30px;">
        <div class="width width-full display-flex display-mobile wrap">
            
            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">1</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan File pas Foto untuk di upload/unggah di halaman formulir pendaftaran online. (Berhijab bagi perempuan).
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">2</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan <b>Nomor Induk Keluarga (NIK)</b> calon santri yang terdapat di Kartu Keluarga
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">3</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan <b>Nomor Induk Siswa Nasional (NISN)</b>. bisa lihat disini : <a href="http://nisn.data.kemdikbud.go.id" target="_blank">http://nisn.data.kemdikbud.go.id</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">4</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan biodata calon pendaftar beserta biodata orang tua calon pendaftar.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">5</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan nomor handphone yang aktif untuk konfirmasi pendaftaran.
                        </div>
                    </div>
                </div>
            </div>

            <div class="width width-row-3" style="margin-bottom: 50px;">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white no-overflow" style="min-height: 150px;">
                        <div class="float-left-icon">
                            <div class="fl-icn fonts fonts-11 bold white regular"><i class="fa fa-lw fa-braille"></i></div>
                        </div>
                        <div class="float-left-value">
                            <div class="fl-val fonts fonts-11 bold white regular">6</div>
                        </div>
                        <div class="fonts fonts-11 black regular" style="margin-top: 30px;">
                            Mempersiapkan biaya pendaftaran sebesar <b>Rp. {{ biaya }} untuk tes di Pondok Mufidah Santi Asromo.</b>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="medium-screen">
        <div style="padding-left: 15px; padding-right: 15px;">
            <div class="card box-shadow full-rounded bg-grey no-overflow">
                <div class="float-left-icon bg-red">
                    <div class="fl-icn fa fa-lw fa-info" style="color: #fff;"></div>
                </div>
                <div class="fonts fonts-11 black semibold" style="margin-top: 30px;">Perlu diketahui, akan ada tambahan angka unik untuk total transfer biaya pendaftaran, misal Rp. 200.123. tambahan Rp. 123,- tsb disebut angka unik. pastikan anda mentransfer sesuai total transfer yang di informasikan pada saat selesai pengisian form pendaftaran</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}