{% extends "layout.twig" %}

{% block content %}
<div>
    <div>
        <img src="{{base_url()}}/img/selayang.jpg" style="width:100%"><br><br>
    </div> 
    <div class="medium-screen" style="padding-top: 30px; padding-bottom: 30px;">
        <div style="padding-left: 15px; padding-right: 15px;">
            <h2 class="fonts fonts-32px bold black no-line-height">SELAYANG PANDANG</h2>
            {# <div class="display-flex">
                <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </div> #}
            <div class="small-screen" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="border-left-screen" style="left: -73px;"></div>
                <p class="fonts fonts-16px grey">Pondok Mufidah Santi Asromo merupakan salah satu pesantren tertua di Jawa Barat, didirikan oleh K.H. Abdul Halim (Pahlawan Nasional) pada tahun 1932. Kini pada usianya yang lebih 85 tahun Pondok Mufidah Santi Asromo terus berkembang dan berbenah untuk menjadi salah satu institusi pendidikan Islam, pembina umat, dan pelopor peradaban.</p>
            </div>

            <div class="small-screen" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="border-left-screen" style="left: -73px;"></div>
                <p class="fonts fonts-16px grey">Pondok Mufidah Santi Asromo menyelenggarakan pendidikan mulai dari jenjang Taman Kanak - Kanak/ Raudatul Atfal (TK/RA), Madrasah Ibtidaiyah (MI), Sekolah Menengah Pertama (SMP), Sekolah Menengah Atas (SMA), dan Pondok Pesantren yang semuanya terintegrasi dalam sistem pengelolaan "Boarding School" dibawah naungan Yayasan K.H. Abdul Halim.</p>
            </div>
        </div>
    </div>
    <div class="medium-screen" style="padding-top: 30px; padding-bottom: 30px;">
        <div style="padding-left: 15px; padding-right: 15px;">
            <h2 class="fonts fonts-32px bold black no-line-height">VISI MISI</h2>
            {# <div class="display-flex">
                <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
            </div> #}
            <div class="small-screen" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="border-left-screen" style="left: -73px;"></div>
                <p class="fonts fonts-16px grey" style="margin-top: 15px; margin-bottom: 15px;">VISI DAN MISI PONDOK MUFIDAH SANTI ASROMO</p>
                <p class="fonts fonts-16px grey" style="margin-top: 15px; margin-bottom: 15px;">Pondok Mufidah Santi Asromo ikut serta berkiprah untuk ummat dengan terus berupaya optimal untuk mempersiapkan sarana prasarana, sumberdaya, dan fasilitas demi tercapainya visi “Menjadikan Santi Asromo sebagai institusi berkeunggulan dalam mewujudkan santri lucu”, Yaitu Santri yang memiliki Keteguhan Aqidah, Kemuliaan Akhlaq, Keluasan Ilmu Pengetahuan, Kepribadian Islami, Kemandirian Berkarya, Kemahiran Leadership, Kepekaan Sosial, Ketangguhan Tekad dan Pengabdian, untuk membangun bangsa dan bergerak bersama-sama masyarakat, dengan berlandaskan tauhiid dan semangat rahmatan lil`alamiin, bertekad untuk dapat memberikan manfaat yang sebesar-besarnya bagi ummat.</p>
                <p class="fonts fonts-16px grey" style="margin-top: 15px; margin-bottom: 15px;">Motto yang selalu kami junjung tinggi “Rajin Belajar, Giat Bekerja dan Gemar Beribadah”, Dengan target diakhir pembelajaran setiap santri harus memenuhi kompetensi umum yang wajib dikuasai dan kompetensi khusus yang masing-masing santri berbeda [sesuai bakat dan kemampuan masing-masing ], Kesemuanya ini merupakan hasil pemikiran pendiri Santi Asromo K.H. Abdul Halim.</p>
            </div>
        </div> 
    </div>
</div>
{% endblock content %}