{% extends "layout.twig" %}

{% block content %}
<style type="text/css">
	.table td, .table th {
	    padding: .40rem;
	    vertical-align: top;
	    border: none !important;
	}
</style>
<div class="containerjoy">
	<div class="card">
	  <div class="card-header">
	    <b>BERIKUT PANDUAN ALUR PENDAFTARAN.</b>
	  </div>
	  <div class="card-body">
	  	<table class="table">
		  <tr>
		    <td>1. </td>
		    <td>Pastikan anda sudah mempersiapkan persyaratan untuk pendaftaran. (NISN, NIK Nomor Induk Keluarga, File foto calon santri, Alamat, Nomor HP orangtua yang tersambung ke whatsapp).</td> 
		  </tr>
		  <tr>
		    <td>2. </td>
		    <td>Klik tautan MULAI PENDAFTARAN di menu PENDAFTARAN PSB ONLINE SANTI ASROMO.</td> 
		  </tr>
		  <tr>
		    <td>3. </td>
		    <td>Isi form pendaftaran dengan lengkap, teliti dan hati-hati pada HALAMAN FORMULIR PENDAFTARAN.</td> 
		  </tr>
		  <tr>
		    <td>4. </td>
		    <td>Jika sudah selesai di isi, tekan tombol SUBMIT.</td> 
		  </tr>
		  <tr>
		    <td>5. </td>
		    <td>Secepatnya ditransferkan biaya pendaftaran. <b>(Jumlah transfer harus sesuai dengan yang tertera setelah klik SUBMIT).<br>KE REKENING MANDIRI SYARIAH (Kode Bank : 451).<br>No.Rek : 6000 1932 06<br>Atas Nama : PONDOK MUFIDAH SANTI ASROMO</b><br>Atau bisa membayar langsung ke bagian keuangan sekretariat PONDOK MUFIDAH SANTI ASROMO.</td> 
		  </tr>
		  <tr>
		    <td>6. </td>
		    <td>Kirim bukti transfer via WA ke salah satu nomor berikut: 0853-2134-3674 (Ust Ahmad Ubaidillah) atau 0898-8749-215 (Ustadzah Desi Susilawati).</b></td> 
		  </tr>
		  <tr>
		    <td>7. </td>
		    <td>Setelah konfirmasi, tunggu pemberitahuan VIA WA atau SMS bahwa transfer telah sukses.</td> 
		  </tr>
		  <tr>
		    <td>8. </td>
		    <td>Silahkan Cetak KARTU TES di tautan CETAK KARTU di menu PENDAFTARAN PSB ONLINE. pilih nama calon peserta tes dan Cetak kartu tes yang muncul.</td> 
		  </tr>
		</table>	    
	  </div>
	</div>
</div>
{% endblock content %}