{% extends "layout.twig" %}

{% block content %}
<style type="text/css">
	.table td, .table th {
	    padding: .40rem;
	    vertical-align: top;
	    border: none !important;
	}
</style>
<div class="containerjoy">
	<div class="card">
	  <div class="card-header">
	    <b>SELAYANG PANDANG</b>
	  </div>
	  <div class="card-body">	    
	     <img src="{{base_url()}}/img/selayang.jpg" style="width:100%"><br><br>
	     <p>
	     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pondok Mufidah Santi Asromo merupakan salah satu pesantren tertua di Jawa Barat, didirikan oleh K.H. Abdul Halim (Pahlawan Nasional) pada tahun 1932. Kini pada usianya yang lebih 85 tahun Pondok Mufidah Santi Asromo terus berkembang dan berbenah untuk menjadi salah satu institusi pendidikan Islam, pembina umat, dan pelopor peradaban.<br><br>
	     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pondok Mufidah Santi Asromo menyelenggarakan pendidikan mulai dari jenjang Taman Kanak - Kanak/ <i>Raudatul Atfal (TK/RA), Madrasah Ibtidaiyah (MI),</i> Sekolah Menengah Pertama (SMP), Sekolah Menengah Atas (SMA), dan Pondok Pesantren yang semuanya terintegrasi dalam sistem pengelolaan <i>"Boarding School"</i> dibawah naungan Yayasan K.H. Abdul Halim.<br><br>
	     	<b>VISI MISI</b><br>
			VISI DAN MISI PONDOK MUFIDAH SANTI ASROMO<br>
			Pondok Mufidah Santi Asromo ikut serta berkiprah untuk ummat dengan terus berupaya optimal untuk mempersiapkan sarana prasarana, sumberdaya, dan fasilitas demi tercapainya visi “Menjadikan Santi Asromo sebagai institusi berkeunggulan dalam mewujudkan santri lucu”, 
			Yaitu Santri yang memiliki Keteguhan Aqidah, Kemuliaan Akhlaq, Keluasan Ilmu Pengetahuan, Kepribadian Islami, Kemandirian Berkarya,
			Kemahiran Leadership, Kepekaan Sosial, Ketangguhan Tekad dan Pengabdian, untuk membangun bangsa dan bergerak bersama-sama masyarakat, dengan berlandaskan tauhiid dan semangat rahmatan lil`alamiin, bertekad untuk dapat memberikan manfaat yang sebesar-besarnya bagi ummat.

			Motto yang selalu kami junjung tinggi “Rajin Belajar, Giat Bekerja dan Gemar Beribadah”, Dengan target diakhir pembelajaran setiap santri harus memenuhi kompetensi umum yang wajib dikuasai dan kompetensi khusus yang masing-masing santri berbeda [sesuai bakat dan kemampuan masing-masing ], Kesemuanya ini merupakan hasil pemikiran pendiri Santi Asromo K.H. Abdul Halim.
	     </p>
	  </div>
	</div>
</div>
{% endblock content %}