<nav class="navbar navbar-default navbar-fixed-top nav-content">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin-top:9px"><i class="pe-7s-notebook"></i> PSB SESSION</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <p class="hidden-lg hidden-md">PSB SESSION</p>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button ng-click="add()" ng-show="!show_form" class="btn btn-primary btn-sm btn-fill"><i class="fa fa-plus"></i> Add New</button>
		  		<button ng-click="add()" ng-show="show_form" class="btn btn-danger btn-sm btn-fill"><i class="fa fa-close"></i> Close Form</button>
		  		<button class="btn btn-success btn-sm btn-fill" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
            </ul>
        </div>
    </div>
</nav>
<div class="content" style="margin-top: 80px;"> 
	<div class="hidden-lg hidden-md" style="padding:15px">
    	<button ng-click="add()" ng-show="!show_form" class="btn btn-primary btn-sm btn-fill"><i class="fa fa-plus"></i> Add New</button>
  		<button ng-click="add()" ng-show="show_form" class="btn btn-danger btn-sm btn-fill"><i class="fa fa-close"></i> Close Form</button>
  		<button class="btn btn-success btn-sm btn-fill" ng-click="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
	<form class="container-fluid" ng-show="show_form" name="myForm">
		<div class="card">
			<div class="content" >
				<div class="row">
					<div class="col-md-12">
		                <div class="form-group">
		                    <label>Nama Session</label>
		                    <input type="text" class="form-control" placeholder="Session Name" ng-model="session.session_name" required>
		                </div>
		            </div>
		            <div class="col-md-3">
		               <button class="btn btn-primary btn-fill" ng-click="save_or_update()" ng-disabled="myForm.$invalid"><i class="fa fa-check"></i> {{btn_save_text}}</button>
		            </div>
				</div>
			</div>
		</div>
	</form>
    <div class="container-fluid" ng-show="!show_form">
    	<div class="card">
        	<div class="header">
                <div class="input-group">
                    <input ng-model="search" ng-enter="act_search()" type="text" class="form-control" placeholder="Enter Search..." />
                    <span class="input-group-btn">
                        <button ng-click="act_search()" class="btn btn-warning btn-fill" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="hidden-lg hidden-md"><br></div>
            <div class="content table-responsive table-full-width">
                <table class="table table-sm table-hover">
                    <thead>
                        <th width="50">#</th>
                        <th>Session</th>
				        <th>Status</th>
				        <th width="200">Action</th>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="data in datas_session">
					      <td>{{$index+1}}</td>
                          <td>{{data.session_name}}</td>
					      <td style="color:{{data.activate === '0'? 'red' : 'green'}}">{{data.activate === '0'? 'Inactive' : 'Active'}}</td>
					      <td>
					      	<button style="padding:1px 5px" class="btn btn-info btn-sm btn-fill" ng-click="act_click(data)">Edit</button>
					      	<button style="padding:1px 5px" class="btn btn-danger btn-sm btn-fill" ng-click="act_remove(data)">Delete</button>
                            <button ng-show="data.activate != '0'" style="padding:1px 5px" class="btn btn-success btn-sm btn-fill"><i class="fa fa-check"></i>Aktif</button>
                            <button ng-show="data.activate == '0'" style="padding:1px 5px" class="btn btn-primary btn-sm btn-fill" ng-click="act_activate(data)">Aktifkan</button>
					      </td>
					    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>